
retrying==1.3.4
PyMySQL~=1.1.1
numpy~=1.24.4
PyAudio~=0.2.14
websocket-client~=1.8.0
cachetools~=5.4.0

peewee
flask
flask-script
flask-wtf
flask-login
openpyxl
torch
torchaudio
funasr==1.1.4
modelscope